/* products.component.css
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 250px;
  }
  
  .product-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .product-card p {
    margin: 10px 0;
  }
  
  .product-card p:last-child {
    font-weight: bold;
    color: #333;
  }
   */

   /* products.component.css */
.container {
    padding: 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 250px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  button {
    margin: 5px;
    background-color: #e4163d;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  