body {
    background-color: #fdfbec;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fdfbec;
}

h2 {
    color: #e4163d;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}
